/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


/* NAVBAR */
/* ============================ */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;
    background: #17173A;
    backdrop-filter: blur(8px);
    padding: 10px 0;
    height: 63px;
}

.nav-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo span {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.menu {
    display: flex;
    gap: 25px;
    align-items: center;
}

.nav-btn {
    color: white;
    padding: 8px 18px;
    text-decoration: none;
    border-radius: 6px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.08);
    transition: 0.25s;
}

.nav-btn:hover {
    background: rgba(255, 255, 255, 0.25);
}

.nav-login {
    background: #d60000;
    color: white;
    padding: 10px 22px;
    border-radius: 6px;
    font-size: 16px;
    text-decoration: none;
    transition: 0.25s;
}

.nav-login:hover {
    background: #a00000;
}

/* HERO */
.hero {
    position: relative;
    width: 100%;
    height: 60vh;
    margin-top: 60px;
}

.hero-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.45);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
}

.hero-text {
    position: absolute;
    bottom: 20%;
    left: 8%;
    color: white;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 800;
}

.hero-text p {
    margin-top: 15px;
    font-size: 18px;
}

/* CONTENT */
.about-section {
    width: 80%;
    margin: auto;
    padding: 40px 0;
}

.about-section h2 {
    margin-top: 35px;
    font-size: 28px;
    color: #17173A;
}

.about-section p, 
.about-section li {
    margin-top: 10px;
    font-size: 18px;
    line-height: 1.6;
}

/* TEAM */
.team {
    display: flex;
    margin-top: 25px;
    gap: 30px;
}

.member {
    text-align: center;
}

.member img {
    width: 120px;
    border-radius: 50%;
}

.features div {
    background: #17173A;
    color: white;
    padding: 12px;
    border-radius: 8px;
    margin-top: 10px;
    width: 350px;
}
