/* FORM CARD */
.form-card {
    background: #ffe3e3;
    padding: 30px;
    margin-top: 20px;
    border-radius: 12px;
    border-left: 6px solid #17173A;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.15);
}

.form-card form label {
    font-weight: 600;
    margin-top: 12px;
    display: block;
}

.form-card input,
.form-card select {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 8px;
    border: 1px solid #aaa;
}

.submit-btn {
    background: #17173A;
    color: white;
    padding: 12px 25px;
    border-radius: 8px;
    border: none;
    margin-top: 15px;
    cursor: pointer;
    font-size: 17px;
    transition: 0.25s;
}

.submit-btn:hover {
    background: #a00000;
}


/* TABLE CARD */
.table-card {
    background: white;
    padding: 25px;
    margin-top: 20px;
    border-radius: 12px;
    border-left: 6px solid #17173A;
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead tr {
    background: #17173A;
    color: white;
    text-align: left;
}

th, td {
    padding: 14px;
    border-bottom: 1px solid #ccc;
}


/* Stock status colors */
.ok {
    color: green;
    font-weight: bold;
}

.low {
    color: red;
    font-weight: bold;
}

/* BLOOD STOCK GRID */
.blood-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin-top: 30px;
}

/* CARD DESIGN */
.blood-card {
    background: #0d0b26;
    border-radius: 15px;
    padding: 40px 20px;
    text-align: center;
    position: relative;
    color: #fff;
    font-family: Poppins, sans-serif;
    box-shadow: 0 4px 15px rgba(0,0,0,0.25);
    transition: 0.3s;
}

.blood-card:hover {
    transform: translateY(-5px);
}

/* BLOOD TYPE */
.blood-type {
    font-size: 2.2rem;
    font-weight: 700;
    color: #ff3b3b;
    display: block;
}

/* COUNT UNDER BLOOD TYPE */
.blood-count {
    font-size: 1.2rem;
    margin-top: 8px;
    color: #ffffffcc;
}

/* BLOOD DROP DECORATION (BOTTOM RIGHT) */
.blood-card::after {
    content: "";
    background: url('../Image/drop-of-blood-emoji.png') no-repeat center;
    background-size: 45px;
    opacity: 0.15;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 60px;
    height: 60px;
}
