.card-donors {
    border-left-color: var(--primary-color);
}

body.dark .card-donors:hover {
    background: var(--primary-color-light);
}

.card-locations {
    border-left-color: var(--manager-color);
}

body.dark .card-locations:hover {
    background: #2a3a5a;
}

.card-messages {
    border-left-color: var(--warning-color);
}

a[href="locations.html"].big-btn:hover {
    background: #e6f3ff;
}

body.dark a[href="locations.html"].big-btn:hover {
    background: #2a3a5a;
}


a[href="communication.html"].big-btn:hover {
    background: #fff3e0;
}

body.dark a[href="communication.html"].big-btn:hover {
    background: #3a3025;
}


a[href="reports.html"].big-btn:hover {
    background: #ffebeb;
}

body.dark a[href="reports.html"].big-btn:hover {
    background: #3a2525;
}