/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* ============================ */
/* NAVBAR */
/* ============================ */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;
    background: #17173A;
    backdrop-filter: blur(8px);
    padding: 10px 0;
    height: 63px;
}

.nav-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo span {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.menu {
    display: flex;
    gap: 25px;
    align-items: center;
}

.nav-btn {
    color: white;
    padding: 8px 18px;
    text-decoration: none;
    border-radius: 6px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.08);
    transition: 0.25s;
}

.nav-btn:hover {
    background: rgba(255, 255, 255, 0.25);
}

.nav-login {
    background: #d60000;
    color: white;
    padding: 10px 22px;
    border-radius: 6px;
    font-size: 16px;
    text-decoration: none;
    transition: 0.25s;
}

.nav-login:hover {
    background: #a00000;
}

/* HERO SECTION */
.hero {
    position: relative;
    height: 100vh;
    width: 100%;
}

.hero-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.55);
}

.hero-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.45);
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 80px;
    transform: translateY(-50%);
    color: white;
    max-width: 550px;
}

.hero-content h1 {
    font-size: 60px;
    font-weight: 800;
}

.hero-content p {
    margin-top: 18px;
    font-size: 18px;
    line-height: 1.5;
}
