/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background: #f4f4f4;
}

/* SIDEBAR */
.sidebar {
    width: 250px;
    background: #111;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 25px 0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 35px;
    font-weight: 600;
}

.sidebar a {
    padding: 14px 25px;
    text-decoration: none;
    color: #ddd;
    font-size: 16px;
    display: block;
    transition: 0.25s;
}

.sidebar a:hover {
    background: #d60000;
    color: white;
}

/* MAIN CONTENT */
.main {
    margin-left: 250px;
    padding: 30px;
    flex: 1;
}

.header {
    background: #d60000;
    padding: 15px;
    color: white;
    font-size: 20px;
    border-radius: 8px;
    margin-bottom: 25px;
}

.card-boxes {
    display: flex;
    gap: 20px;
}

.card {
    flex: 1;
    padding: 25px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}

.card h3 {
    margin-bottom: 10px;
    color: #333;
}
